<h2>
    All Users</h2>

<ul class="groups">
    <li *ngFor="let user of users">
        <a routerLink="/profile/{{user.username}}">
            <span class="badge"></span>{{user.username}}
        </a>
        <button class="delete" title="delete user" (click)="delete(user)">x</button>
    </li>
</ul>

<div>
    <label><h4>Add a new user</h4></label>
    <br/>
    <label>User name:
        <input #userName />
      </label>
    <br/>
    <label>Email:
          <input #userEmail />
        </label>
    <br/>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(userName.value, userEmail.value); userName.value=''; userEmail.value='' ">
        Add
      </button>
</div>